@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&family=Poppins:wght@400;500;600;700;800;900&family=Roboto:wght@700&display=swap');
body{
    margin: 0;
    padding: 0;
    background-color: #212529;
}

/*обнуление*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
*, :before, :after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
}
a{
    text-decoration: none;
}

li{
    list-style-type: none;
}
/*-------------------*/

.wrapper{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 39px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 17px;
    margin-bottom: 108px;
}

.navigation{
    max-width: 429px;
    width: 100%;   
}   

.nav{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

#active-item{
    color: #FFB742;

}
.item-navigation a{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.btn{
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #212529;
    padding: 12px 26px;
    background: #FFB742;
    border-radius: 50px;
    border: 2px solid #FFB742;
}

.btn:hover{
    background: #fcc56e;
}

.information-youself{
    max-width: 759px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.hello{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 32px;
    line-height: 51px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
}
.name-youself{
    text-decoration-line: underline;
    color: #FFB742;
}
h1{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 48px;
    line-height: 91px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-bottom: 25px;
}
.quote{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 24px;
    line-height: 51px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-bottom: 22px;
}
.avatar{
    max-width: 210px;
    width: 100%;
    margin-bottom: 126px;
}

.achievement-youself{
    display: flex;
    justify-content: space-between;
}

.achievement-card{
    max-width: 390px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 30px;
    background: rgba(56, 62, 69, 0.44);
    border-radius: 10px;
}


.title-information-card{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    text-transform: capitalize;
    color: #FFB742;
}

.subtitle-information-card{ 
    font-family: 'Inter';
    font-weight: 700;
    font-size: 16px;
    line-height: 31px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
}

.yourself{
    margin-bottom: 208px;
}

.about{
    max-width: 1308px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 165px;
}

.about-information{
    max-width: 640px;
    width: 100%;
    
}

.header-title{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    color: #FFB742;

    
    background: rgba(255, 255, 255, 0.08);
    border-radius: 50px;

    padding: 6px 25px;
    margin-bottom: 17px;
   
}

h2{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    
    color: #FFFFFF;

}

p{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #D5D5D5;
}

.about-information h2{
    margin-top: 17px;
    margin-bottom: 30px;
}

.about-information button{
    margin-top: 40px;
}

.skill{
    display: flex;
    justify-content: space-between;
    margin-bottom: 167px;
}
.skill-information{
    max-width: 546px;
}

.skill-information h2{
    margin-top: 18px;
    margin-bottom: 30px;
}

.skill-information p{
    margin-bottom: 30px;
}

.skills-card{
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/************прогресс бар***********/

.progress-bar {
    width: 100%;
    max-width: 380px;
    height: 20px;
    background: #212529;
    border-radius: 1000px;
    margin: 0 auto;
  }
  
  .progress-bar > div {
    width: 0%;
    height: 100%;
  }

  /*****************/

  .skill-card{
    display: flex;
    align-items: center;
    background: #383E45;
    border-radius: 10px;
    max-width: 500px;
    justify-content: space-around;
    margin-bottom: 50px;  
}
.skill-card ul{
    margin: 0 90px;
}
.skill-image{
    padding: 10px 14px;
}

.project{
    margin: 0 auto;
    margin-bottom: 167px;
}

.project-title{
    text-align:center;
    margin-bottom: 60px;
}


.education{
    text-align: center;
}

.education h2{
    margin: 15px 0 50px;
}
.education-timeline{
    display: flex;
    justify-content: center;
    margin-bottom: 167px;
}

.timeline {
    margin: 30px;
    position: relative;
}
.timeline li {
    display: flex;
    line-height: 1;
}
.timeline--date {
    flex: 0 0 150px;
    color: #F2C94C;;
    font-family: Roboto;
    text-align: center;
    margin-right: 50px;
}
.timeline--circle {
    flex: 0 0 50px;
    position: relative;
    text-align: center;
   /*For vertical line*/
}
.timeline--circle:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 5px;
    background: #F2C94C;
    margin: auto;
    right: 0;
    left: 0;
    z-index: 2;
}
.timeline--circle i {
    transition: all 0.4s ease-in-out;
    position: relative;
    display: inline-block;
    background: #F2C94C;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    box-sizing: border-box;
    z-index: 3;
}
.timeline--description {
    margin-left: 50px;
    padding-bottom: 100px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;

}
/*For the first timeline item*/
.timeline li:first-child .timeline--date, .timeline li:first-child .timeline--description {
    margin-top: 15px;
}
.timeline li:first-child .timeline--circle:before {
    margin-top: 15px;
}
.timeline li:first-child .timeline--circle:after {
    content: "";
    background: transparent;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    border: 2px solid #F2C94C;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 50%;
    z-index: 1;
}
.timeline li:first-child i {
    background: transparent;
    width: 40px;
    height: 40px;
}
.timeline li:first-child i:after {
    content: '';
    background: #F2C94C;;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
/*Now let us start do the hover effects*/
.timeline li:hover .timeline--date {
    color: #F2C94C;;
}
.timeline li:hover .timeline--circle i {
    transform: scale(4);
}
.timeline li:hover .timeline--description {
    color: #F2C94C;;
}
.timeline li:first-child:hover .timeline--circle i {
    transform: none;
    background: #F2C94C;;
}
.timeline li:first-child:hover .timeline--circle:after {
    border-color: #222;
}
/***************/

